<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Truco
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-item>
    <ion-label class="Placar">Valendo {{valendo}}</ion-label>
  </ion-item>

      <ion-item class="Numbers">
        <ion-button (click)="MultiplicarUm()">1</ion-button>
        <ion-button (click)="MultiplicarTres()">3</ion-button>
        <ion-button (click)="MultiplicarSeis()">6</ion-button>
        <ion-button (click)="MultiplicarNove()">9</ion-button>
        <ion-button (click)="MultiplicarDoze()">12</ion-button>
      </ion-item>

  <ion-item color="warning">
    <ion-col>
      <ion-label>Time 1</ion-label>
      <ion-row>
        <button (click)="BotaoSomaTime1()" class="Button">+</button>
        <ion-label>{{placarUm}}</ion-label>
        <button (click)="BotaoSubtraiTime1()" class="Button">-</button>
      </ion-row>
    </ion-col>
    <ion-col>
      <ion-label>Time 2</ion-label>
      <ion-row>
        <button (click)="BotaoSomaTime2()" class="Button">+</button>
        <ion-label>{{placarDois}}</ion-label>
        <button (click)="BotaoSubtraiTime2()" class="Button">-</button>
      </ion-row>
    </ion-col>
    <ion-item>
      <ion-button>Zerar</ion-button>
    </ion-item>
    
  </ion-item>
  <ion-label>Partidas</ion-label>
  <ion-label>Time 1</ion-label>
  <ion-label>0</ion-label>
  <ion-label>Time 2</ion-label>
  <ion-label>0</ion-label>
</ion-content>
